@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";

body { 
    background: url("./img/background.jpg");
}

.row .columns, .row .column {
  padding-left: 10px !important; /* change the values to anything that you want */
  padding-right: 10px !important;
}

#blur{
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	display: none;
	z-index: 15;
	position: fixed;
}

#projectOne{
	height: 500px;
	width: 500px;
	margin-top: 100px;
	margin-left: 30%;
	z-index: 16;
	position: fixed;
	display: none;
	background-color: #FFFFFF;
	opacity: 0.8;
}

#projectTwo{
	height: 500px;
	width: 500px;
	margin-top: 100px;
	margin-left: 30%;
	z-index: 16;
	position: fixed;
	display: none;
	background-color: #FFFFFF;
	opacity: 0.8;
}

#projectThree{
	height: 500px;
	width: 500px;
	margin-top: 100px;
	margin-left: 30%;
	z-index: 16;
	position: fixed;
	display: none;
	background-color: #FFFFFF;
	opacity: 0.8;
}

#projectOne #content{
	padding: 40px;
}


#projectTwo #content{
	padding: 40px;
}


#projectThree #content{
	padding: 40px;
}

#projectOne #content p{
	font-size: 20px;
}

#projectTwo #content p{
	font-size: 20px;
}

#projectThree #content p{
	font-size: 20px;
}
#top-bar{
	position: fixed;
	background-color: rgba(0,0,0,1);
	width: 100%;
	height: 100px;	
	z-index: 10;
}

#navigation{
	height: 100px;
	vertical-align: text-bottom;
	padding-top: 50px;
}

ul{
	margin-top: 20px;
}

li{
	list-style-type: none;
}

li a{
	text-decoration: none;
	color: rgba(255,255,255,1);
	font-size: 20px;
}


#Home{
	margin-top: 100px;
	position: absolute;
	width: 100%;
	height: 300px;
	background-color: rgba(100,100,100,0.9);
}

#Home #left_arrow{
	margin-top: 100px;
}

#Home #right_arrow{
	margin-top: 100px;
}

#Home #image{
	height: 300px;
	opacity: 0.9;
	
}

#Background{
	background: url("./../img/background.jpg");
	width: 80%;
	height: 1000px;
	padding: 50px;
	margin-left: 10%;
	margin-top: 400px;
	position: absolute;
	z-index: 5;
}

#self_intro *{
	margin-top: 40px;
}


#Background #content{
	height: 500px;
	background-color: rgba(255,255,255,0.5);

}

#Background #projects #project{
	height: 300px;
	text-align: center;
	background-color: rgba(255,255,255,0.5);
	transition: 0.5s;
	margin-top: 50px;
}

#Background #projects #project:hover{
	background-color: rgba(255,255,255,0.8);
}

#Video{
	z-index: 1;
	height:400px;
	width: 100%;
	background-color: rgba(0,0,0,1);
	margin-top: 1400px;
	position: absolute;
}

#Video #myVideo{
	position: absolute;
	z-index: 10;
}


#Contact{
	height: 400px;
	width: 100%;
	margin-top: 1800px;
	position: absolute;
}

#tail{
	width: 100%;
	height: 100px;
	background-color: rgba(0,0,0,1);
	margin-top: 2200px;
	position: absolute;
}

#tail #social{
	float: right;
	margin-right: 40px;
	margin-top: 30px;
}

#title{
	text-align: center;
}

#subtitle{
	text-align: center;
}

#filter div{
	text-align: center;
}

#genre div button{
	padding: auto;
	overflow: auto;
	height: 60px;
}

#arrow{
	height: 200px;
	padding-top:100px;
}


.css-class,
.css-class-add.css-class-add-active {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  color: red;
  font-size:40px;
}

.css-class-remove.css-class-remove-active {
transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  font-size:1.0em;
  color:black;
}