<div class="row">
<div class="small-1 large-1 columns" id="arrow"><a href={{prevTitle}}><img src="./../img/left.jpeg"></a></div>
<div class="small-10 large-10 columns panel">
	<div class="small-10 large-10 columns" id="one">
		<div class="row">
			<div class="small-4 large-4 columns">
				<img ng-src={{source}}>
			</div>
			<div class="small-8 large-8 columns">
				<p>Title: {{title}}</p>
				<p>Category: {{title}}</p>
				<p>Genre: {{genre}}</p>
				<p>Director: {{director}}</p>
				<p>Actors: {{actors}}</p>
				<p>Country: {{country}}	Language:{{language}}</p>
			</div>
		</div>
		<div class="row">
			<p>Introduction: {{plot}}</p>
		</div>
		<div class="row">
			<a href="#/list"><button>RETURN</button></a>
		</div>
	</div>
</div>
<div class="small-1 large-1 columns" id="arrow"><a href={{nextTitle}}><img src="./../img/right.jpeg"></a></div>
</div>