<!-- <!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../css/movie.css">
	<link rel="stylesheet" href="../foundation/css/foundation.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
	<title></title>
</head>
<body ng-app="myApp">
	<div ng-controller="galleryController">  -->
	<div class="row" id="title">
		<div class="small-12 large-12 columns"><h1>Movie Hunter</h1></div>
	</div>

	<div class="row" id="subtitle">
		<div class="small-6 large-6 columns" style="text-align:center;"><h4 ng-class="list" ng-mouseover="list='css-class'" ng-mouseleave="list=''"><a href="#/list">list</a></h4></div>
		<div class="small-6 large-6 columns" style="text-align:center;"><h4 ng-class="gallery" ng-mouseover="gallery='css-class'" ng-mouseleave="gallery=''"><a href="#/gallery">gallery</a></h4></div>
	</div>

	<div class="row" id="genre">
		<div class="small-1 large-1 columns" height="100px"><button height="100px" ng-click="All()">All</button></div>
		<div class="small-1 large-1 columns" height="100px"><button height="100px" ng-click="Action()">Action</button></div>
		<div class="small-1 large-1 columns" height="100px"><button height="100px" ng-click="Adventure()">Adventure</button></div>
		<div class="small-1 large-1 columns" height="100px"><button height="100px" ng-click="Crime()">Crime</button></div>
		<div class="small-1 large-1 columns" height="100px"><button height="100px" ng-click="Comedy()">Comedy</button></div>
		<div class="small-1 large-1 columns" height="100px"><button height="100px" ng-click="Drama()">Drama</button></div>
		<div class="small-1 large-1 columns" height="100px"><button height="100px" ng-click="Musical()">Musical</button></div>
		<div class="small-1 large-1 columns" height="100px"><button height="100px" ng-click="Mystery()">Mystery</button></div>
		<div class="small-1 large-1 columns" height="100px"><button height="100px" ng-click="Romance()">Romance</button></div>
		<div class="small-1 large-1 columns" height="100px"><button height="100px" ng-click="Sci_Fi()">Sci-Fi</button></div>
		<div class="small-1 large-1 columns" height="100px"><button height="100px" ng-click="Thriller()">Thriller</button></div>
		<div class="small-1 large-1 columns" height="100px"><button height="100px" ng-click="Western()">Western</button></div>
	</div>
	<div id="results"></div>
<!-- 	</div>

<script src="../js/app.js"></script>
<script src="../js/controllers.js"></script>
<script src="../lib/jquery-2.1.3.min/index.js"></script>
<script src="../foundation/js/foundation.min.js"></script>
<script src="http://localhost:35729/livereload.js"></script>
</body>
</html> 
abcde -->