<!-- <!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../foundation/css/foundation.css">
	<link rel="stylesheet" href="../css/movie.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
	<title>
	</title>
</head>
<body ng-app="myApp">
	<div ng-controller="listController"> -->
	<div class="row">
		<div class="small-12 large-12 columns" id='title' style="text-align:center;" ><h1>Movie Hunter</h1></div>
	</div>

	<div class="row" id='subtitle' ng-app="ngAnimate">
		<div class="small-6 large-6 columns" style="text-align:center;"><h4 ng-class="list" ng-mouseover="list='css-class'" ng-mouseleave="list=''"><a href="#/list">list</a></h4></div>
		<div class="small-6 large-6 columns" style="text-align:center;"><h4 ng-class="gallery" ng-mouseover="gallery='css-class'" ng-mouseleave="gallery=''"><a href="#/gallery">gallery</a></h4></div>
	</div>

	<div class="row panel" id="filter">
		<div class="row">
			<div class="small-3 large-3 columns" text-align="center" >Moive name: </div>
			<div class="small-6 large-6 columns"><input type="text" ng-model="movieName" ng-keydown="search()"></div>
			<div class="small-3 large-3 columns"></div>
		</div>
		<div class="row">
			<div class="small-3 large-3 columns">SortBy: </div>
			<div class="small-6 large-6 columns">
				<select ng-model="Selection"
                	ng-options="opt as opt.label for opt in options" ng-change="search()">
            	</select>
			</div>
			<div class="small-3 large-3 columns"></div>
		</div>
		<div class="row">
			<div class="small-3 large-3 columns"><input type="radio" ng-mousedown="ascending()" name="radio">ascending</div>
			<div class="small-3 large-3 columns"><input type="radio" ng-mousedown="descending()" name="radio">descending</div>
			<div class="small-6 large-6 columns"></div>
		</div>
	</div>

	<div class="row" id="results" ng-app="ngAnimate"></div>

<!-- 
  <script src="../js/app.js"></script>
  <script src="../js/controllers.js"></script>
  <script src="../lib/jquery-2.1.3.min/index.js"></script>
  <script src="../foundation/js/foundation.min.js"></script>
  <script src="http://localhost:35729/livereload.js"></script>
</body>
</html>
kakajaja -->